// Carpeta Base
@use "./partials/base/reset";
@use "./partials/base/typography";
@use "./partials/base/base";

// Carpeta Components
@use "./partials/components/header";
@use "./partials/components/index"; // cosas unicas del index
@use "./partials/components/botones";
@use "./partials/components/separedores";
@use "./partials/components/socios";// cosas unicas de socios
@use "./partials/components/cards"; //se encuentra todo lo de nostros aca ya que son en su mayoria cards
@use "./partials/components/forms";
