@use "../utilities/mixin";
@use "../utilities/variables";
@use "../utilities/extend";

// Botones del  index
.text__section--arriba a {
    @include mixin.btn-basic(
    variables.$antiflash-white,
    variables.$uranian-blue,
    variables.$air-superiority-blue
    );
}

.separador div a {
    @include mixin.btn-basic(
    variables.$white,
    variables.$hover-uranian-blue,
    variables.$air-superiority-blue
    );
}

// El segundo es del html de socios
.cont__text--dos a,.carta__beneficio--text a {
    @extend %link-underline;
}


// Botones socios
.principal__socios{
    div{
        a{
            @include mixin.btn-basic(variables.$white,
            variables.$hover-uranian-blue,
            variables.$air-superiority-blue)
        }
    }
}

// Boton de formulario reserva y contacto
.form__reservas,.form__contacto{
    button{
        @include mixin.btn-basic(variables.$white,
        variables.$hover-uranian-blue,
        variables.$air-superiority-blue);
        border: none
    }
}

// Boton formulario contacto
