@use "../utilities/mixin";
@use "../utilities/variables";

// Formulario de reservas
.ubicando__form--reservas {
    @include mixin.flex-container(column,center,center);
    @include mixin.centrar-separador(600px);
    background-color: variables.$white;
    padding: 3rem;
    border-radius: 1rem;
    margin-top: 3rem;
    h2{
        margin-bottom: 2.5rem;
        color: variables.$yinmn-blue;
    }
}

.form__reservas{
    display: flex;
    flex-direction: column;
    width: 100%;
    label{
        color: variables.$yinmn-blue;
        margin-bottom: .5rem;
        font-weight: 600;
        font-size: 1.2rem;
        text-align: start;
        margin-left: .5rem;
    }
    select{
        border: none;
        border-bottom: 2px solid variables.$uranian-blue;
        padding: 10px 0px 10px 10px;
        border-radius: 2rem;
        margin-bottom: 1.5rem;
    }
    input{
        @extend select;
    }&:focus{
        outline: none;
        box-shadow: 0 4px 4px -2px #8fc2e6; 
    }
}

// Formulario de contacto
.ubicando__form--contacto{
    @extend .ubicando__form--reservas;
    min-width: 500px;
    margin: 0;
}

.form__contacto{
    @extend .form__reservas;
    textarea {
        border: 2px solid variables.$uranian-blue;
        border-radius: 10px;
        padding: 10px 10px 0px 10px;
        resize: none;
        margin-bottom: 1rem;
        height: 200px;
    }&:focus{
        outline: none;
        box-shadow: 0 4px 4px -2px #8fc2e6; 
    }
}

.main__contacto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:  120px repeat(2, 1fr);
    gap: 1rem;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
}

.text__contacto {
    grid-column: 1 / 4;
    grid-row: 1 ;
    margin-bottom: 5rem;
    @include mixin.flex-container(column,center,center);
    h1{
        color: variables.$yinmn-blue;
        font-size: 3rem;
        margin-bottom: .5rem;
    }
    span{
        color: variables.$uranian-blue;
    }
    p{
        color: variables.$black-light;
        font-size: 1.2rem;
    }
}

.ubicando__form--contacto {
    grid-column: 1 / 3; 
    grid-row: 2 / 4; 
    margin-right: 2rem;
    padding: 3rem;
    background-color: variables.$white;
    border-radius: 1rem;
}

.contacto__mapa {
    grid-column: 3 / 4;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: variables.$white;
    padding: 1.3rem;
    figure{
        img{
            height: 240px;
            border-radius: 1rem;
        }
    }
}

.contacto__informacions {
    font-size: .8rem;
    background-color: variables.$white;
    padding: 1rem;
    border-radius: 1rem;
    h3{
        color: variables.$yinmn-blue;
        font-size: .9rem;
        margin-bottom: .3rem;
        font-weight: 700;
    }
    span{
        @extend h3;
    }
    p{
        color: variables.$black-light;
        margin-bottom: .3rem;
        margin-top: .4rem;
    }
}

.contacto__horarios {
    @include mixin.flex-container(null,space-between,null);
    margin-top: .7rem;
    background-color: variables.$antiflash-white;
    padding: .5rem;
    border-radius: .5rem;
}
