@use "../utilities/mixin";
@use "../utilities/variables";
@use "../utilities/extend";

// Formulario de reservas
.ubicando__form--reservas {
    @include mixin.flex-container(column,center,center);
    @include mixin.centrar-separador(750px);
    background-color: variables.$white;
    padding: 3rem;
    border-radius: 1rem;
    margin-top: 3rem;
    h2 {
        margin-bottom: 2.5rem;
        color: variables.$yinmn-blue;
    }
}

.form__reservas {
    @include mixin.flex-container(column,null,null);
    width: 100%;
    label {
        @extend %estilo-label
    }
    input {
        @extend %estilo-input;
    }
    select {
        border: none;
        border-bottom: 2px solid variables.$uranian-blue;
        padding: 10px 0px 10px 10px;
        border-radius: 2rem;
        margin-bottom: 1.5rem;
    }
}


// Formulario de contacto
.ubicando__form--contacto {
    min-width: 450px;
    margin: 0;
}

.form__contacto {
    @include mixin.flex-container(column,null,null);
    label {
        @extend %estilo-label;
    }

    input {
        @extend %estilo-input;
    }
    textarea {
        border: 2px solid variables.$uranian-blue;
        border-radius: 10px;
        padding: 10px 10px 0px 10px;
        resize: none;
        margin-bottom: 1rem;
        height: 200px;
    }&:focus {
        outline: none;
        box-shadow: 0 4px 4px -2px #8fc2e6; 
    }
}

.main__contacto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:  120px repeat(2, 1fr);
    gap: 1rem;
    @include mixin.container;
    padding: 2rem;
}

.text__contacto {
    grid-column: 1 / 4;
    grid-row: 1 ;
    margin-bottom: 5rem;
    @include mixin.flex-container(column,center,center);
    h1 {
        color: variables.$yinmn-blue;
        font-size: 3rem;
        margin-bottom: .5rem;
    }
    span {
        color: variables.$uranian-blue;
    }
    p {
        color: variables.$black-light;
        font-size: 1.2rem;
    }
}

.ubicando__form--contacto {
    grid-column: 1 / 3; 
    grid-row: 2 / 4; 
    margin-right: 2rem;
    padding: 3rem;
    background-color: variables.$white;
    border-radius: 1rem;
}

.contacto__mapa {
    @include mixin.flex-container(column,center,center);
    grid-column: 3 / 4;
    grid-row: 2;
    border-radius: 1rem;
    background-color: variables.$white;
    padding: 1.3rem;
    figure {
        img {
            height: 240px;
            border-radius: 1rem;
        }
    }
}

.contacto__informacions {
    font-size: .8rem;
    background-color: variables.$white;
    padding: 1rem;
    border-radius: 1rem;
    h3 {
        color: variables.$yinmn-blue;
        font-size: .9rem;
        margin-bottom: .3rem;
        font-weight: 700;
    }
    span {
        @extend h3;
    }
    p {
        color: variables.$black-light;
        margin-bottom: .3rem;
        margin-top: .4rem;
    }
}

.contacto__horarios {
    @include mixin.flex-container(null,space-between,null);
    margin-top: .7rem;
    background-color: variables.$antiflash-white;
    padding: .5rem;
    border-radius: .5rem;
}
