@use "../utilities/variables";
@use "../utilities/mixin";

.img__section {
    position: relative;

    .img__main {
        width: 100%;
        height: 650px;
        opacity: 1;
        border-radius: 10px;
        transition: all .4s ease; 
    }

    .color__img {
        position: absolute; 
        inset: 0;
        height: 650px;  
        background-color: variables.$air-superiority-blue;
        z-index: 1;
        opacity: .4;
        border-radius: 10px;
        transition: all .4s ease; 
    }   
    
    img { 
        width: 100%;
        height: 650px;
        opacity: 1;
        border-radius: 10px;
        transition: all .4s ease; 
    }
}

.text__section--arriba {
    position: absolute;
    bottom: 40px; 
    left: 50%;
    transform: translateX(-50%); 
    text-align: center;
    z-index: 2; 
    h2{
        margin-bottom: 10px;
        font-size: clamp(1.7rem,5vw,2.5rem);
        letter-spacing: 1px;
        color: variables.$antiflash-white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7)
    }
    p {
        margin-bottom: 35px;
        color: variables.$antiflash-white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7)
    }
}

/* -------------------------- */
/* text img section main uno y dos*/
/* -------------------------- */
.text__img--direccion,.text__img--direccion--dos {
    @include mixin.container;
    @include mixin.flex-container(row,center,center);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0 1rem;
}

.cont__text{
    width: 55%;
    padding-right: 6rem;
}

.cont__img {
    width: 45%;
    img{
        max-width: 100%;
        border-radius: 7px;
        height: auto;
        display: block;
    }
}

.cont__text,.cont__text--dos {
    p{
        color: variables.$black-light ;
        margin-bottom: 1rem;
        line-height: 25px;
    }
    h3{
        color: variables.$yinmn-blue;
        margin-bottom: .5rem;
        font-weight: 600;
        font-size: 2.5rem;
        font-size: clamp(1.2rem,3vw,1.8rem);
    }
}

/* -------------------------- */
/* text img section main dos- cosas complementarias*/
/* -------------------------- */

.cont__text--dos {
    width: 50%;
    padding-right: clamp(20px,7vw,100px);
}

.cont__img--dos {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    align-items: end;
    gap: 10px;
}

.cont__img--dos{
    figure{
        img{
                height: auto;
                max-width: 250px;
                border-radius: 10px;
        }
    }
}
