@media screen and (max-width:900px) {
    /* Agregando accesibilidad navbar para mobile */
    .navbar{
        position: fixed;
        display: flex;
        box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
        width: 100%;
        top: 0;
        min-height: 130px;
    }
    /* INDEX */
    .img__section {
        .color__img {
            height: 570px;  
        }
        img{
            height: 570px;
        }
    }
    .text__img--direccion,.text__img--direccion--dos {
        flex-direction: column;
    }
    .cont__text,
    .cont__text--dos {
        width: 100%;
        padding-right: 0;
        margin-top: .8rem;
    }
    .cont__img {
        width: 75%;
    }
    .cont__img--dos {
        width: 100%;
    }
    .cont__img--dos {
        grid-template-columns: repeat(1, 1fr); 
        margin-top: 1rem;
        place-items: center;
    }
    .cont__img{
        figure{
            img{
                max-width: 100%;
            }
        }
    }
    /* CONTACTO */
    .main__contacto {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr 350px;
        padding: 1rem;
    }
    .ubicando__form--contacto{
        min-width: 100%;
    }
    .text__contacto {
        grid-column: 1;
        grid-row: 1;
        margin-bottom: 2rem;
        text-align: center;
    }
    .ubicando__form--contacto {
        grid-column: 1;
        grid-row: 2;
        margin-right: 0;
        padding: 2rem;
    }
    .contacto__mapa {
        grid-column: 1;
        grid-row: 3;
        figure img {
            width: 100%;
            height: auto;
            }
        }
    .contacto__informacions {
        grid-column: 1;
        grid-row: 4;
        }
    /* padding para que el navbar no tape el texto al inicio en cada pagina */
    .principal__socios,.principal__nosotros,.main__turnos,.main__contacto,.principal__turnos{
        margin-top: 150px;
    }
    .ubicando__form--reservas{
        margin: 2rem 1rem;
    }

        .card__especialidades {
        height: 150px;
        width: 200px;
        padding: 1rem;
        flex-direction: column;
        figure{
            width: 120px; 
            height: 120px;
            img{
                scale: .9;
                transform: translateY(10px);
            }
        }
        .text__especialidad  {
            padding-top: 0;
        }
    }
}



@media screen and (max-width:700px) {
    /* INDEX */
    .img__section {
        .color__img {
            height: 500px;  
        }
        img{
            height: 500px;
        }
    }
    .cont__img--dos {
        width: 50%;
        figure{
            img{
                height: 200px;
            }
        }
    }
    // socios 
    .carta__beneficio {
        min-height: 150px;
    }
    // Haciendo los especialistas mas visibles para mobile
    .card__medico{
        width: 210px;
        height: 420px;
        figure{
            max-height: 210px;
            display: flex;
            align-items: end;
        img{
            height: 210px;
            object-fit: cover;
            }
        }
    }
}