@use "../utilities/variables";
@use "../utilities/mixin";

// Separador del index
.separador{
    @include mixin.separador(2rem);
    div{
        @include mixin.centrar-separador;
        p {
            font-size: 2rem;
            color: variables.$antiflash-white;
            margin-bottom: 1rem;
        }
    }
}



// Separador inicial de socios
.principal__socios{
    @include mixin.separador(2rem);
    div{
        @include mixin.centrar-separador;
        h1 {
            font-size: 2.9rem;
            color: variables.$yinmn-blue;  // ✅ correcto
            margin-bottom: 15px;
        }
        p {
            color: variables.$antiflash-white; // ✅ correcto
            font-size: 1.4rem;
            margin-bottom: 1.3rem;
        }
    }
}


