@use "../utilities/variables";
@use "../utilities/mixin";

// Separador del index
.separador{
    @include mixin.separador(2rem);
    div{
        @include mixin.centrar-separador(700px);
        p {
            font-size: 2rem;
            color: variables.$antiflash-white;
            margin-bottom: 1rem;
        }
    }
}

// Separador inicial de socios
.principal__socios{
    @include mixin.separador(2rem);
    div{
        @include mixin.centrar-separador(800px);
        h1 {
            font-size: 2.9rem;
            color: variables.$yinmn-blue;  
            margin-bottom: 15px;
        }
        p {
            color: variables.$antiflash-white; 
            font-size: 1.4rem;
            margin-bottom: 1.3rem;
        }
    }
}

// separador inicial de nosotros y final
.principal__nosotros ,.titulo__especialidades {
    @include mixin.separador(3rem);
    div{
        @include mixin.centrar-separador(400px);
        h1{
            font-size: 2.9rem;
            color: variables.$yinmn-blue;
            margin-bottom: 1rem;
        }
        p{
            color: variables.$antiflash-white;
            font-size: 1.4rem;
        }
    }
}

// inicio de turnos 
.text__turnos{
    @include mixin.separador(2rem);
    div{
        @include mixin.centrar-separador(800px);
    }
    h1{
        color: variables.$yinmn-blue;
        margin-top: 1rem;
        font-size: 3rem;
    }
    p{
        color: variables.$white;
        margin-bottom: 2rem;
        font-size: 1.3rem;
    }
}



