@use "../utilities/variables";

// para centrar
%container {
    max-width: 1140px;
    margin: 0 auto;
}

// Decoracion para links 
%link-underline {
    position: relative;
    text-decoration: none;
    color: variables.$air-superiority-blue;
    cursor: pointer;
    transition: all 0.4s ease;
    font-size: 1.2rem;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 0;
        background-color: variables.$uranian-blue;
        transition: width 0.4s ease;
    }

        &:hover {
            transform: scale(1.1);
            font-weight: bold;

        &::after {
            width: 100%;
        }
    }
}

// estilos de los formularios
%estilo-label {
    color: variables.$yinmn-blue;
    margin-bottom: .5rem;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: start;
    margin-left: .5rem;
}

%estilo-input {
    border: none;
    border-bottom: 2px solid variables.$uranian-blue;
    padding: 10px 0 10px 10px;
    border-radius: 2rem;
    margin-bottom: 1.5rem;
}

