@use "../utilities/variables";
@use "../utilities/extend";

// Botones en general
@mixin btn-basic ($color,$background,$hover){
    text-decoration: none;
    color: $color;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: $background;
    transition: all .3s ease;

    &:hover {
        background-color: $hover;
    }
}

// Contenedores  flex
@mixin flex-container($direction,$justify,$align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}


// Separadores
@mixin separador($mtop) {
    width: 100%;
    margin-top: $mtop;
    height: auto;
    background-color: variables.$uranian-blue;
    padding: 2.5rem;
    @include flex-container(column, center, center); 
}

// centrar dentro de separador
@mixin centrar-separador($mwitdh){
    max-width: $mwitdh;
    margin: 0 auto;
    text-align: center;
    font-weight: 600;
}

@mixin cards-nosotros{
    @include flex-container(null, center, center);
    @extend %container;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0 1rem;
    margin-top: 2rem;
}