@use "../utilities/variables";

// para centrar
@mixin container {
    max-width: 1140px;
    margin: 0 auto;
}

// Decoracion para links 
@mixin link-underline {
    position: relative;
    text-decoration: none;
    color: variables.$uranian-blue;
    cursor: pointer;
    transition: all 0.4s ease;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 0;
        background-color: variables.$uranian-blue;
        transition: width 0.4s ease;
    }

        &:hover {
            transform: scale(1.1);
            font-weight: bold;

        &::after {
            width: 100%;
        }
    }
}

// Botones en general
@mixin btn-basic ($color,$background,$hover){
    text-decoration: none;
    color: $color;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: $background;
    transition: all .3s ease;

    &:hover {
        background-color: $hover;
    }
}

// Contenedores  flex
@mixin flex-container($direction,$justify,$align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}


// Separadores
@mixin separador($mtop) {
    width: 100%;
    margin-top: $mtop;
    height: auto;
    background-color: variables.$uranian-blue;
    padding: 2.5rem;

    @include flex-container(column, center, center); 
}

// centrar dentro de separador
@mixin centrar-separador{
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    font-weight: 600;
}