/* Open Sans para cuerpo de texto */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

figure {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans";
  overflow-x: hidden;
  background-color: #f0f4fa;
}

.navbar {
  max-width: 1140px;
  margin: 0 auto;
  background-color: #f0f4fa;
  height: 15dvh;
  z-index: 10;
}

header img {
  height: 100px;
}
header ul {
  gap: clamp(1.3rem, 5vw, 2rem);
}

.link__logo {
  transition: all 0.5s ease;
}
.link__logo:hover {
  transform: scale(1.1);
}

.nav__link {
  position: relative;
  text-decoration: none;
  color: #a3cef1;
  cursor: pointer;
  transition: all 0.4s ease;
}
.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #a3cef1;
  transition: width 0.4s ease;
}
.nav__link:hover {
  transform: scale(1.1);
  font-weight: bold;
}
.nav__link:hover::after {
  width: 100%;
}

.navbar-toggler, .btn-close {
  border: 1px solid #333333;
  color: transparent;
  transition: all 0.4s ease;
}
.navbar-toggler:hover, .btn-close:hover {
  scale: 1.1;
}

.img__nav--responsive {
  scale: 0.8;
}

.offcanvas-body {
  margin-left: 1.5rem;
}

.img__section {
  position: relative;
}
.img__section .img__main {
  width: 100%;
  height: 650px;
  opacity: 1;
  border-radius: 10px;
  transition: all 0.4s ease;
}
.img__section .color__img {
  position: absolute;
  inset: 0;
  height: 650px;
  background-color: #6096ba;
  z-index: 1;
  opacity: 0.4;
  border-radius: 10px;
  transition: all 0.4s ease;
}
.img__section img {
  width: 100%;
  height: 650px;
  opacity: 1;
  border-radius: 10px;
  transition: all 0.4s ease;
}

.text__section--arriba {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 2;
}
.text__section--arriba h2 {
  margin-bottom: 10px;
  font-size: clamp(1.7rem, 5vw, 2.5rem);
  letter-spacing: 1px;
  color: #f0f4fa;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.text__section--arriba p {
  margin-bottom: 35px;
  color: #f0f4fa;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* -------------------------- */
/* text img section main uno y dos*/
/* -------------------------- */
.text__img--direccion, .text__img--direccion--dos {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.cont__text {
  width: 55%;
  padding-right: 6rem;
}

.cont__img {
  width: 45%;
}
.cont__img img {
  max-width: 100%;
  border-radius: 7px;
  height: auto;
  display: block;
}

.cont__text h2, .cont__text--dos h2 {
  font-size: clamp(2.1rem, 8vw, 2.5rem);
  color: var(--uranian-blue);
  margin-bottom: 5px;
}
.cont__text p, .cont__text--dos p {
  color: var(--battleship-gray);
  margin-bottom: 1rem;
  line-height: 25px;
}
.cont__text h3, .cont__text--dos h3 {
  margin-bottom: 0.5rem;
  font-size: clamp(1.2rem, 3vw, 1.6rem);
}

/* -------------------------- */
/* text img section main dos- cosas complementarias*/
/* -------------------------- */
.cont__text--dos {
  width: 40%;
  padding-right: clamp(20px, 7vw, 100px);
}

.cont__text--dos {
  width: 60%;
}

.cont__img--dos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
  gap: 10px;
}

.cont__img--dos figure img {
  height: auto;
  max-width: 250px;
  border-radius: 10px;
}

.text__section--arriba a {
  text-decoration: none;
  color: #f0f4fa;
  font-weight: 600;
  padding: 10px 30px;
  border-radius: 5px;
  background-color: #a3cef1;
  transition: all 0.3s ease;
}
.text__section--arriba a:hover {
  background-color: #6096ba;
}

.separador div a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  padding: 10px 30px;
  border-radius: 5px;
  background-color: #b8daf4;
  transition: all 0.3s ease;
}
.separador div a:hover {
  background-color: #6096ba;
}

.cont__text--dos a, .carta__beneficio--text a {
  position: relative;
  text-decoration: none;
  color: #a3cef1;
  cursor: pointer;
  transition: all 0.4s ease;
}
.cont__text--dos a::after, .carta__beneficio--text a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #a3cef1;
  transition: width 0.4s ease;
}
.cont__text--dos a:hover, .carta__beneficio--text a:hover {
  transform: scale(1.1);
  font-weight: bold;
}
.cont__text--dos a:hover::after, .carta__beneficio--text a:hover::after {
  width: 100%;
}

.principal__socios div a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  padding: 10px 30px;
  border-radius: 5px;
  background-color: #b8daf4;
  transition: all 0.3s ease;
}
.principal__socios div a:hover {
  background-color: #6096ba;
}

.separador {
  width: 100%;
  margin-top: 2rem;
  height: auto;
  background-color: #a3cef1;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.separador div {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
}
.separador div p {
  font-size: 2rem;
  color: #f0f4fa;
  margin-bottom: 1rem;
}

.principal__socios {
  width: 100%;
  margin-top: 2rem;
  height: auto;
  background-color: #a3cef1;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.principal__socios div {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
}
.principal__socios div h1 {
  font-size: 2.9rem;
  color: #274c77;
  margin-bottom: 15px;
}
.principal__socios div p {
  color: #f0f4fa;
  font-size: 1.4rem;
  margin-bottom: 1.3rem;
}

.encabezado__socios {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 1rem;
  text-align: center;
  padding: 0 1rem;
  margin-bottom: 1rem;
}
.encabezado__socios h2 {
  font-size: 2rem;
  color: #274c77;
  font-weight: 500;
  margin-bottom: 1rem;
}

.texto__dif {
  color: #333333;
  padding: 0 2rem;
  padding-bottom: 1.5rem;
}

.grid__socios {
  display: grid;
  max-width: 1140px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem;
}

.carta__beneficio {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: start;
}

.ubicacion__carta--beneficio {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding-bottom: 1rem;
}
.ubicacion__carta--beneficio i {
  color: #274c77;
  font-size: 1.2rem;
}
.ubicacion__carta--beneficio h3 {
  color: #274c77;
  font-size: 1.4rem;
}
.ubicacion__carta--beneficio p {
  line-height: 26px;
  letter-spacing: 0.5px;
  padding-right: 1rem;
  margin-bottom: 1rem;
  color: #333333;
}

.carta__beneficio--img, .carta__beneficio--text {
  background-color: transparent;
}

.carta__beneficio--img img {
  max-width: 100%;
  border-radius: 10px;
  display: block;
}

.separacion {
  padding-bottom: 1rem;
}

/*# sourceMappingURL=style.css.map */
